<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card-header>
    <ion-card-title>
      Sign up
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form>
      <ion-list>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" name="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" name="password"></ion-input>
        </ion-item>

        <ion-radio-group>
          <ion-item>
            <ion-label>Angel</ion-label>
            <ion-radio slot="start" value="Angel"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Startup</ion-label>
            <ion-radio slot="start" value="Startup"></ion-radio>
          </ion-item>
        </ion-radio-group>

      </ion-list>

      <ion-button expand="block" (click)="signup()">
        Sign Up
      </ion-button>
    </form>
  </ion-card-content>
</ion-content>

<ion-footer padding>
  <ion-button expand="block">
    Google
  </ion-button>

  <ion-button expand="block">
    Facebook
  </ion-button>

  <ion-button expand="block">
    Linkedin
  </ion-button>

</ion-footer>