<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card" padding>
  <ion-card padding>
    <ion-card-header padding>
      <ion-card-title padding>
        <strong>
          Welcome !
        </strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content padding>
      Connecting startup founders and angels with eachother.
    </ion-card-content>
  </ion-card>

  <ion-card padding>
    <ion-card-title padding>
      Generic content title
    </ion-card-title>
    <ion-card-content padding>
      Generic image describing the product
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer padding>
  <ion-button expand="block">Sign Up</ion-button>
  <ion-button expand="block" [routerLink]="['/sign-in']" routerLinkActive="router-link-active">Sign In</ion-button>
</ion-footer>