<ion-header>
  <ion-toolbar>
    <ion-title>startup-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://via.placeholder.com/100" alt="">
  </ion-card>

  <ion-card>
    <form action="">
      <ion-item>
        <ion-label position="floating">Name </ion-label>
        <ion-input> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Product Demo URL </ion-label>
        <ion-input> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Additional Details </ion-label>
        <ion-input> </ion-input>
      </ion-item>

      <ion-list>
        <ion-item>
          <ion-label>Seeking</ion-label>
          <ion-select multiple="true">
            <ion-select-option value="Angel" selected>Angel</ion-select-option>
            <ion-select-option value="Advisor" selected>Advisor</ion-select-option>
            <ion-select-option value="Pre-seed">Pre-seed</ion-select-option>
            <ion-select-option value="Seed">Seed</ion-select-option>
            <ion-select-option value="Series-A">Series-A</ion-select-option>
            <ion-select-option value="Series-B">Series-B</ion-select-option>
            <ion-select-option value="Series-C">Series-C</ion-select-option>
            <ion-select-option value="Series-D">Series-D</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

    </form>
    <ion-button expand="block">
      Submit
    </ion-button>
  </ion-card>

</ion-content>

<ion-footer>
  <br>
</ion-footer>