<ion-header>
  <ion-toolbar>
    <ion-title>Angel-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://via.placeholder.com/75" alt="">
  </ion-card>

  <ion-card>
    <form action="">
      <ion-item>
        <ion-label position="floating">Name </ion-label>
        <ion-input> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Website Link </ion-label>
        <ion-input> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Additional Details</ion-label>
        <ion-textarea> </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Past investments</ion-label>
        <ion-textarea> </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Average Cheque Size in USD</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Average Time taken for due diligence in hrs</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item-group>
        <ion-item>
          <ion-label position="floating">Criteria for backing a company financially</ion-label>
          <ion-textarea type="text"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="floating">What is your value proposition ?</ion-label>
          <ion-textarea type="text"></ion-textarea>
        </ion-item>

      </ion-item-group>

    </form>
    <ion-button expand="block">
      Submit
    </ion-button>
  </ion-card>

</ion-content>
